<div class="mt-4 gap-4 flex w-full my-4 p-1 align-bottom">
  <div class="grow">
    <h2 class="text-3xl"><%= link_to sample.name, sample_path(sample)  %></h2>
  </div>
  <div class="box mt-auto">
    <p>view results</p>
  </div>
</div>